<module>
  <rawname>miscapps</rawname>
  <repo>extended</repo>
  <name>Misc Applications</name>
  <version>2.11.0.2</version>
	<publisher>Schmooze Com Inc</publisher>
	<license>GPLv3+</license>
	<licenselink>http://www.gnu.org/licenses/gpl-3.0.txt</licenselink>
  <category>Applications</category>
  <description>
		Adds the ability to create feature codes that can go to any FreePBX destination (such as an IVR or queue)
	</description>
  <menuitems>
    <miscapps>Misc Applications</miscapps>
  </menuitems>
  <changelog>
  		*2.11.0.2* Include license file
		*2.11.0.0* #6055
		*2.10.0.1* #5478 
		*2.10.0.0* new version changes
		*2.9.0.2* #4831
		*2.9.0.1* set repository
		*2.9.0.0* #4651, #4655, #4724
	</changelog>
  <depends>
    <version>2.4.0</version>
  </depends>
  <location>release/2.11/miscapps-2.11.0.0.tgz</location>
  <md5sum>b288e7c7bc4c9f2213cd470f4d9c3791</md5sum>
  <supported>
    <version>2.10</version>
  </supported>
</module>