<module>
	<rawname>infoservices</rawname>
	<repo>standard</repo>
	<name>Info Services</name>
	<version>2.11.0.3</version>
	<publisher>Schmooze Com Inc</publisher>
	<license>GPLv3+</license>
	<licenselink>http://www.gnu.org/licenses/gpl-3.0.txt</licenselink>
	<candisable>no</candisable>
	<canuninstall>no</canuninstall>
	<category>Applications</category>
	<description>Provides a number of applications accessible by feature codes: company directory, call trace (last call information), echo test, speaking clock, and speak current extension number.</description>
	<changelog>
		*2.11.0.3* #6026
		*2.11.0.2* #6923 Fix language not being set on Echo Test and Speaking Clock
		*2.11.0.1* #6026
		*2.11.0.0* #6021
		*2.10.0.3* remove obsoleted directory feature code
		*2.10.0.2* #5115
		*2.10.0.1* #5478 
		*2.10.0.0* new version changes
		*2.9.0.0* #4653
	</changelog>
	<supported>
		<version>2.11</version>
	</supported>
	<location>release/2.11/infoservices-2.11.0.1.tgz</location>
	<md5sum>efb62589052a3c83c2a2d5047ee7bb62</md5sum>
</module>
