<module>
	<rawname>featurecodeadmin</rawname>
	<repo>standard</repo>
	<name>Feature Code Admin</name>
	<version>2.11.0.2</version>
	<publisher>Schmooze Com Inc</publisher>
	<license>GPLv3+</license>
	<licenselink>http://www.gnu.org/licenses/gpl-3.0.txt</licenselink>
	<candisable>no</candisable>
	<canuninstall>no</canuninstall>
	<category>Admin</category>
	<menuitems>
		<featurecodeadmin>Feature Codes</featurecodeadmin>
	</menuitems>
	<location>release/2.11/featurecodeadmin-2.11.0.0.tgz</location>
	<changelog>
		*2.11.0.2* Add license file
		*2.11.0.0* bump version
		*2.10.0.3* #5488
		*2.10.0.2* #5506 revert of r13179 
		*2.10.0.1* #5463
		*2.10.0.0* new version changes
		*2.9.0.0* #4617, #4653, #4655
	</changelog>
	<depends>
		<version>2.5.0alpha1</version>
	</depends>
	<supported>
		<version>2.10</version>
	</supported>
	<md5sum>8d3a776210d49d0fd03b66cd51e5b23d</md5sum>
</module>
