<module>
	<rawname>campon</rawname>
	<repo>standard</repo>
	<name>Camp-On</name>
	<version>2.11.0.2</version>
	<publisher>Schmooze Com Inc</publisher>
	<license>GPLv3+</license>
	<licenselink>http://www.gnu.org/licenses/gpl-3.0.txt</licenselink>
	<category>Settings</category>
	<changelog>
		*2.11.0.3* Update license file
		*2.11.0.1* #6876
		*2.11.0.0* bump version
		*2.10.0.2* #5705, #5710
		*2.10.0.1* #5478 
		*2.10.0.0* new version changes
		*2.9.0.0* spelling, cosmetics
		*2.9.0beta1.0* #778 Camp-On implenentation using CCSS, beta release requires Asterisk patch 18788 for full functionality
	</changelog>
	<description>This module implements the Call Completion Supplemental Services (CCSS) often referred to as Call Camping or Camp-On. It allows a caller to request the system call them back when a busy or non-responding extension becomes available. Requires Asterisk 1.8 or higher.
	</description>
	<depends>
		<engine>asterisk 1.8</engine>
	</depends>
	<supported>
		<version>2.9</version>
	</supported>
	<location>release/2.11/campon-2.11.0.0.tgz</location>
	<md5sum>630aee4ee195fb838c0e352f4e9138c1</md5sum>
</module>
