<module>
	<rawname>parking</rawname>
	<repo>standard</repo>
	<name>Parking Lot</name>
	<version>2.11.0.15</version>
	<publisher>Schmooze Com Inc</publisher>
	<license>GPLv3+</license>
	<licenselink>http://www.gnu.org/licenses/gpl-3.0.txt</licenselink>
	<category>Applications</category>
	<description>Manages parking lot extensions and other options.
	Parking is a way of putting calls "on hold", and then picking them up from any extension.
    </description>
	<changelog>
		*2.11.0.15* Update license file
		*2.11.0.14* Using insert_id function from wrapper
		*2.11.0.13* Changed the specified lines in the files mentioned to add gettext formatting
		*2.11.0.12* Fixed #6871, Basically dont use Asterisk's built in come back to origin, do it ourselves. Also Fixed #6774, act like the rest of FreePBX
		*2.11.0.11* Fix typo 
   		*2.11.0.10* Add hint for the Parking Lot as a whole
		*2.11.0.9* Set default destination to terminate call, hangup
		*2.11.0.8* Add min range to number boxes
		*2.11.0.7* #6375 proper fix
		*2.11.0.6* Worked on #6378 Parking Destination and Alternate destination problems, still not perfect. Fixes #6343
		*2.11.0.5* Fixes #6375 park retrieve issue and needsreload
		*2.11.0.4* #6374 sql error updating
		*2.11.0.3* fix some localization
		*2.11.0.2* Cleanup of wording
		*2.11.0.1* Completely rewritten from the ground up. Fixes #5498, #5549
		*2.10.0.2* #5901
		*2.10.0.1* #5478 
		*2.10.0.0* new version changes
		*2.9.0.4* #4965, #4972
		*2.9.0.3* #4914
		*2.9.0.2* #4224
		*2.9.0.1* #4740
		*2.9.0.0* #4655
	</changelog>
	<menuitems>
		<parking>Parking</parking>
	</menuitems>
	<depends>
        <engine>asterisk ge 1.8</engine>
		<version>2.11</version>
	</depends>
	<supported>
		<version>2.11</version>
	</supported>
	<location>release/2.11/parking-2.11.0.12.tgz</location>
	<md5sum>50cbecaad3561592c837d64e4c64745c</md5sum>
</module>
