<module>
  <rawname>languages</rawname>
  <repo>extended</repo>
  <name>Languages</name>
  <version>2.11.0.2</version>
	<publisher>Schmooze Com Inc</publisher>
	<license>GPLv3+</license>
	<licenselink>http://www.gnu.org/licenses/gpl-3.0.txt</licenselink>
  <category>Applications</category>
  <description>
		Adds the ability to changes the language within a call flow and add language attribute to users.
	</description>
  <menuitems>
    <languages>Languages</languages>
  </menuitems>
  <popovers>
    <languages>
      <display>languages</display>
    </languages>
  </popovers>
  <changelog>
  		*2.11.0.2* Include license file
		*2.11.0.1* Database abstraction fixes
		*2.11.0.0* #6051
		*2.10.0.1* #5478 
		*2.10.0.0* new version changes
		*2.9.0.3* #5312, #5313
		*2.9.0.2* #4914
		*2.9.0.1* set repository
		*2.9.0.0* #4657, #4655
	</changelog>
  <depends>
    <version>2.5.0alpha1</version>
  </depends>
  <location>release/2.11/languages-2.11.0.0.tgz</location>
  <md5sum>b587ea591f4dbf4ee8c1de52bcfb464c</md5sum>
  <supported>
    <version>2.10</version>
  </supported>
</module>