<module>
	<rawname>asteriskinfo</rawname>
	<repo>standard</repo>
	<name>Asterisk Info</name>
	<version>2.11.0.89</version>
	<publisher>Schmooze Com Inc</publisher>
	<license>GPLv3+</license>
	<licenselink>http://www.gnu.org/licenses/gpl-3.0.txt</licenselink>
	<category>Reports</category>
	<description>
		Provides a snapshot of the current Asterisk configuration
	</description>
	<menuitems>
		<asteriskinfo>Asterisk Info</asteriskinfo>
	</menuitems>
	<depends>
		<engine>asterisk</engine>
		<version>2.5.0rc3</version>
	</depends>
	<changelog>
		*2.11.0.9* Include new license file
		*2.11.0.7* Packaging of ver 2.11.0.7
		*2.11.0.6* Packaging of ver 2.11.0.6
		*2.11.0.3* Packaging of ver 2.11.0.3
		*2.11.0.2* Packaging of ver 2.11.0.2
		*2.11.0.2* #6757
		*2.11.0.1* Fixes #6288 adds XMPP (Motif)
		*2.10.0.1* #5523
		*2.10.0.0* new version changes
		*2.9.0.3* #4893
		*2.9.0.2* #4778
		*2.9.0.1* #4755
		*2.9.0.0* 2.9 Update
		*2.8.0.2* localization updates
		*2.8.0.1* #4209
		*2.8.0.0* #3703
		*2.7.0.0* spelling fixes, localization updates
		*2.6.0.0* localizations, misc
		*2.5.0.1* #3157, #3153, #3077 (DAHDI Support)
		*2.5.0* #2845 tabindex
		*2.4.0.1* #2704 Asterisk 1.6 tweaks
		*2.4.0* bumped to 2.4
		*0.3.0.1* bump for rc1
		*0.3.0* #2187 Fix for Asterisk 1.4
		*0.2.0* Add depends asterisk xml tag, proper error checking for manager connection, center table titles
		*0.1.0* Initial release
	</changelog>
	<supported>
		<version>2.10</version>
	</supported>
	<location>release/2.11/asteriskinfo-2.11.0.2.tgz</location>
	<md5sum>7793bdb58d59c1c8f5e4926bac66ac63</md5sum>
</module>
