<module>
  <rawname>printextensions</rawname>
  <repo>standard</repo>
  <name>Print Extensions</name>
  <version>2.11.0.2</version>
	<publisher>Sangoma Technologies Corporation</publisher>
	<license>GPLv3+</license>
	<licenselink>http://www.gnu.org/licenses/gpl-3.0.txt</licenselink>
  <category>Reports</category>
  <description>Creates a printable list of extension numbers used throughout the system from all modules that provide an internal callable number</description>
  <menuitems>
    <printextensions>Print Extensions</printextensions>
  </menuitems>
	<changelog>
		*2.11.0.2* FREEPBX-7372
  	*2.11.0.1* Include license file
		*2.11.0.0* bump to 2.11 and workaround for PHP bug that makes large numbers negative
		*2.10.0.4* #5934
		*2.10.0.3* #5787
		*2.10.0.2* #5478 
		*2.10.0.1* #5463
		*2.10.0.0* new version changes
		*2.9.0.1* #4650
		*2.9.0.0* #4647 make exten numbers a link to edit the extension
	</changelog>
  <location>release/2.11/printextensions-2.11.0.0.tgz</location>
  <md5sum>86a1a93e8a7a13affa3ae858a6c18c29</md5sum>
  <supported>
    <version>2.10</version>
  </supported>
</module>