<module>
	<rawname>announcement</rawname>
	<repo>standard</repo>
	<name>Announcements</name>
	<version>2.11.0.4</version>
	<publisher>Schmooze Com Inc</publisher>
	<license>GPLv3+</license>
	<licenselink>http://www.gnu.org/licenses/gpl-3.0.txt</licenselink>
	<changelog>
		*2.11.0.4* Generate license file
		*2.11.0.1* Using last_id() function (if available) for database calls
		*2.11.0.0* #6051
		*2.10.0.2* #5883
		*2.10.0.1* #5478
		*2.10.0.0* new version changes
		*2.9.0.2* #4683
		*2.9.0.1* removed duplicate functions
		*2.9.0.0* #4655
		*2.8.0.0* published 2.8 version
		*2.7.0.0* spelling fixes, localization updates
		*2.6.0.2* #3829
		*2.6.0.1* #3804
		*2.6.0.0* localizations, misc
		*2.5.1.7* localization string enclosures, spelling
		*2.5.1.6* spelling, localization fixes
		*2.5.1.5* spelling fixes, Swedish
		*2.5.1.4* #3196 typo in index
		*2.5.1.3* #3195, localization fixes, Swedish
		*2.5.1.2* #3138 Sqlite3 fixes, spellings
		*2.5.1.1* #2987 sqlite3 install script changes
		*2.5.1* #2063 Migrate recordings to recording ids
		*2.5.0* #2845 tabindex
		*2.4.0.3* #2872 mispelled Announcement
		*2.4.0.2* #2604, #2843 mal-formed html tag, Russian translations
		*2.4.0.1* added 2.4.0 dependency
		*2.4.0* CHANGELOG TRUNCATED See SVN Repository
	</changelog>
	<category>Applications</category>
	<description>
		Plays back one of the system recordings (optionally allowing the user to skip it) and then goes to another destination.
	</description>
	<depends>
		<version>2.5.0alpha1</version>
		<module>recordings ge 3.3.8</module>
	</depends>
	<menuitems>
		<announcement>Announcements</announcement>
	</menuitems>
	<popovers>
		<announcement>
			<display>announcement</display>
		</announcement>
 	</popovers>
	<supported>
		<version>2.10</version>
	</supported>
	<location>release/2.11/announcement-2.11.0.0.tgz</location>
	<md5sum>704dee25bbe8e854fa4e126018b83864</md5sum>
</module>
