<module>
	<rawname>ringgroups</rawname>
	<repo>standard</repo>
	<name>Ring Groups</name>
	<version>2.11.0.6</version>
	<publisher>Schmooze Com Inc</publisher>
	<license>GPLv3+</license>
	<licenselink>http://www.gnu.org/licenses/gpl-3.0.txt</licenselink>
	<category>Applications</category>
	<description>
		Creates a group of extensions that all ring together. Extensions can be rung all at once, or in various 'hunt' configurations. Additionally, external numbers are supported, and there is a call confirmation option where the callee has to confirm if they actually want to take the call before the caller is transferred.
	</description>
	<changelog>
		*2.11.0.6* #1953
		*2.11.0.5* update license file
		*2.11.0.4* Fixes minor bug in adding or editing new ring groups
		*2.11.0.3* Fixes Cant Park calls on ring group that have MoH set, might fix #6474 as well
		*2.11.0.2* #6477
		*2.11.0.1* #6055
		*2.11.0.0* #6051
		*2.10.0.6* typo in error message
		*2.10.0.5* #5832
		*2.10.0.4* #5652
		*2.10.0.3* #4834 again
		*2.10.0.2* #4834, #5263
		*2.10.0.1* #5478
		*2.10.0.0* #5283 Overhaul Call Recording
		*2.9.0.6* #5011
		*2.9.0.5* spellings, locazliations
		*2.9.0.4* #4977
		*2.9.0.3* #4334
		*2.9.0.2* #4799
		*2.9.0.1* removed duplicate functions
		*2.9.0.0* #4671, #4655
	</changelog>
	<depends>
		<version>2.5.0alpha1</version>
		<module>recordings ge 3.3.8</module>
	</depends>
	<menuitems>
		<ringgroups>Ring Groups</ringgroups>
	</menuitems>
	<popovers>
		<ringgroups>
			<display>ringgroups</display>
		</ringgroups>
 	</popovers>
	<supported>
		<version>2.11</version>
	</supported>
	<location>release/2.11/ringgroups-2.11.0.2.tgz</location>
	<md5sum>d0ec74f5b8d8135418dc6ba282816622</md5sum>
</module>
